/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

.save{
  width: 100px  !important;
  margin-right: 10px !important;
}

.clear{
  margin-right: 10px !important;
  width: 100px  !important;
}

.formMessage{
  font-weight: 600;
}

.errorMsg{
  color: #d32f2f !important;
}

.successMsg{
  color: #43a047 !important;
}
