/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

.root {
  background: #c5c5c5;
  color: #333;
}

.container {
  /* margin: 0 auto; */
  max-width: var(--max-content-width);
  text-align: left;
  line-height: 2.5em;
  font-size: 1.5em; /* ~24px */
}

.navTab{  
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  background-color: #c5c5c5;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: #333;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.linkActive {
  background-color: #848298;
}

.spacer {
  padding-right: 15px;
  padding-left: 15px;
}
