/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 0 20px;
  max-width: 500px;
}

.formGroup {
  margin-bottom: 15px;
}

.textDesc {
  color: #616161;
  font-size: 1.3em;
  padding-bottom: 23px;
}

.save{
  width: 100px  !important;
}

.clear{
  margin-left: 25px !important;
  width: 100px  !important;
}

.formMessage{
  font-weight: 600;
}

.errorMsg{
  color: #d32f2f !important;
}

.successMsg{
  color: #43a047 !important;
}